<html>
<head>
    <meta charset="UTF-8">
    <meta name="pdfkit-header-html" content="http://localhost:8080/static/pdf/liste-header.html">
    <meta name="pdfkit-footer-html" content="http://localhost:8080/static/pdf/liste-footer.html">
    <style>
        body {
            font-family: calibri
        }
        table {
            border-collapse: collapse
        }
        
        table, th, td {
            border: 1px solid black;
	    page-break-inside: avoid !important;
        }
        
	tr {
	    height: 28px;
	    page-break-inside: avoid !important;
	}
	
	/* Page Breaks */
	.pb_before { page-break-before:always !important; }
	.pb_after  { page-break-after:always !important; }
	.pbi_avoid { page-break-inside:avoid !important; }
    </style>
</head>
<body>
    <div style="position: absolute; top: 20px; width:100%;">
        <table width="98%" style="border: none;">
	    <tr style="border: none;">
		<td width="35%" style="border: none;">
		    <h2 style="text-align: center">{{ gruppe }}</h2>
		</td>
		<td style="border: none;">
		    <strong>Absenzkontrolle vom: __________________</strong>
		</td>
	    </tr>
	</table>
    </div>
    <div style="position: absolute; top: 85px; width: 100%">
    <table width="98%">
	<thead>
	    <tr style="vertical-align: bottom">
		<th rowspan="2" width="5%"><strong>Grad</strong></th>
		<th rowspan="2" width="15%"><strong>Nachname</strong></th>
		<th rowspan="2" width="15%"><strong>Vorname</strong></th>
		<th colspan="3" class="header-anwesend"><strong>Anwesend</strong><br /><font size="2px" style="font-weight: normal">ja=komplett oder von-bis</font></th>
		<th rowspan="2"><strong>Bemerkung</strong></th>
	    </tr>
	    <tr>
		<th width="3%">ja</th>
		<th width="6%">Von</th>
		<th width="6%">Bis</th>
	    </tr>
	</thead>
	<tr style="height:35px; vertical-align: bottom">
            <td colspan="3"><strong>Stab</strong></td>
        </tr>
        {% for adf in adfs.stab %}
            <tr>
                <td>{{ adf.grad }}</td>
                <td>{{ adf.name }}</td>
                <td>{{ adf.vorname }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
	<tr style="height:35px; vertical-align: bottom">
	    <td colspan="3"><strong>Verkehrsgruppe</strong></td>
	</tr>
	{% for adf in adfs.va %}
	    <tr>
		<td>{{ adf.grad }}</td>
		<td>{{ adf.name }}</td>
		<td>{{ adf.vorname }}</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	    </tr>
	{% endfor %}
	<tr>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	</tr>
	<tr style="height:35px; vertical-align: bottom">
	    <td colspan="3"><strong>Sanitätsabteilung</strong></td>
	</tr>
        {% for adf in adfs.san %}
	    {% if not adf in adfs.konf %}
		<tr>
		    <td>{{ adf.grad }}</td>
		    <td>{{ adf.name }}</td>
		    <td>{{ adf.vorname }}</td>
		    <td></td>
		    <td></td>
		    <td></td>
		    <td></td>
		</tr>
	    {% endif %}
	{% endfor %}
	<tr>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	</tr>
	<tr class="pb_before">
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	</tr>
	<tr class="pb_before">
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	</tr>
    </table>
    </div>
</body>
</html>
