{% extends "layout.html" %} 
{% block content %}
<!-- JQuery DataTable Css -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.1/css/select.bootstrap.min.css"/>
<style>
    svg { width: 100% !important; }
    </style>
<div class="block-header">
	<h2>ATEMSCHUTZ KONTROLLE</h2>
</div>
<div class="row clearfix">
    <!--
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="card">
			<div class="header">
				<h2>PENDENZEN</h2>
				<small></small>
			</div>
			<div class="body">
			</div>
		</div>
    </div>-->
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card">
            <div class="header">
                <h2>AKTUELLES JAHR</h2>
                <small>ZUG 1</small>
                <script>var zug1_ef = 0; var zug1_nef = 0;</script>
            </div>
            <div class="body">
                        <div id="donut_zug1" class="graph align-center" style="max-height: 180px"></div>
                        <ul class="nav nav-tabs tab-nav-right" role="tablist">
                            <li role="presentation" class=""><a role="button" data-target="#personen1" data-toggle="collapse">Details <span class="badge bg-cyan"></span></a></li>
                        </ul>
                        <div  class="collapse" id="personen1">
                            <ul class="list-group">
                                {% for stat in statistics|selectattr("zug","equalto","Zug 1") %}
                                    <li class="list-group-item">
                                        {{stat.vorname }} {{ stat.name}}
                                        {% if stat.time|replace("None",0)|int >= 480 %}
                                            <script> var zug1_ef = zug1_ef + 1; </script>
                                            <span class="badge bg-green">{{ stat.time|replace("None","0") }} / 480 min</span>
                                        {% elif stat.time|replace("None",0)|int >= 360 %}
                                            <script> var zug1_nef = zug1_nef+1; </script>
                                            <span class="badge bg-orange">{{ stat.time|replace("None","0") }} / 480 min</span>
                                        {% else %}
                                            <script> var zug1_nef = zug1_nef+1; </script>
                                            <span class="badge bg-red">{{ stat.time|replace("None","0") }} / 480 min</span>
                                        {% endif %}
                                    </li>
                                {% endfor %}    
                            </ul>
                        </div>
                    </div>
                
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="card">
                <div class="header">
                    <h2>AKTUELLES JAHR</h2>
                    <small>ZUG 2</small>
                    <script>var zug2_ef = 0; var zug2_nef = 0;</script>
                </div>
                <div class="body">
                    <div class="row clearfix">
                        <div class="col-md-12">
                            <div id="donut_zug2" class="graph align-center" style="max-height: 180px"></div>
                            <ul class="nav nav-tabs tab-nav-right" role="tablist">
                                <li role="presentation" class=""><a role="button" data-target="#personen2" data-toggle="collapse">Details <span class="badge bg-cyan"></span></a></li>
                            </ul>
                            <div  class="collapse" id="personen2">
                                <ul class="list-group">
                                    {% for stat in statistics|selectattr("zug","equalto","Zug 2") %}
                                        <li class="list-group-item">
                                            {{stat.vorname }} {{ stat.name}}
                                            {% if stat.time|replace("None",0)|int >= 480 %}
                                                <script> var zug2_ef = zug2_ef + 1; </script>
                                                <span class="badge bg-green">{{ stat.time|replace("None","0") }} / 480 min</span>
                                            {% elif stat.time|replace("None",0)|int >= 360 %}
                                                <script> var zug2_nef = zug2_nef+1; </script>
                                                <span class="badge bg-orange">{{ stat.time|replace("None","0") }} / 480 min</span>
                                            {% else %}
                                                <script> var zug2_nef = zug2_nef+1; </script>
                                                <span class="badge bg-red">{{ stat.time|replace("None","0") }} / 480 min</span>
                                            {% endif %}
                                        </li>
                                    {% endfor %}            
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card">
            <div class="header">
                <h2>AKTUELLES JAHR</h2>
                <small>ZUG 3</small>
                <script>var zug3_ef = 0; var zug3_nef = 0;</script>
            </div>
            <div class="body">
                <div class="row clearfix">
                    <div class="col-md-12">
                        <div id="donut_zug3" class="graph align-center" style="max-height: 180px"></div>
                        <ul class="nav nav-tabs tab-nav-right" role="tablist">
                            <li role="presentation" class=""><a role="button" data-target="#personen3" data-toggle="collapse">Details <span class="badge bg-cyan"></span></a></li>
                        </ul>
                        <div  class="collapse" id="personen3">
                            <ul class="list-group">
                                {% for stat in statistics|selectattr("zug","equalto","Zug 3") %}
                                    <li class="list-group-item">
                                        {{stat.vorname }} {{ stat.name}}
                                        {% if stat.time|replace("None",0)|int >= 480 %}
                                            <script> var zug3_ef = zug3_ef + 1; </script>
                                            <span class="badge bg-green">{{ stat.time|replace("None","0") }} / 480 min</span>
                                        {% elif stat.time|replace("None",0)|int >= 360 %}
                                            <script> var zug3_nef = zug3_nef+1; </script>
                                            <span class="badge bg-orange">{{ stat.time|replace("None","0") }} / 480 min</span>
                                        {% else %}
                                            <script> var zug3_nef = zug3_nef+1; </script>
                                            <span class="badge bg-red">{{ stat.time|replace("None","0") }} / 480 min</span>
                                        {% endif %}
                                    </li>
                                {% endfor %}            
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="card">
            <div class="header">
                <h2>ANSICHT ÜBER ALLES</h2>
                <ul class="header-dropdown m-r--5">
                   
                </ul>
            </div>
            <div class="body">
                    
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover table-all dataTable">
                        <thead>
                            <tr>
                                <th>Datum</th>
                                <th>Kategorie</th>
                                <th>Name</th>
                                <th>Dauer</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entry in entries %}
                            <tr>
                                <td>{{ entry.datum.strftime('%d.%m.%Y') }}</td>
                                <td>{{ entry.category.name }}</td>
                                <td>{{ entry.member.vorname }} {{ entry.member.name }}</td>
                                <td>{{ entry.time }}</td>
                                <td><a href="#" class="menu-toggle" data-toggle="modal" 
                                        data-entry-id="{{ entry.id }}"
                                        data-entry-datum="{{ entry.datum.strftime('%d.%m.%Y') }}"
                                        data-entry-member="{{ entry.member_id }}"
                                        data-entry-category="{{ entry.category_id }}"
                                        data-entry-time="{{ entry.time }}"
                                        data-target="#EntryModal"><i class="material-icons">edit</i></a> 
									<a href="#" class="menu-toggle" data-toggle="modal" data-entry-id="{{ entry.id }}" data-target="#DeleteEntryModal"><i class="material-icons">delete</i></a>
								</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="btn-floating bg-blue"  data-toggle="modal" data-entry-id="-1" data-target="#EntryModal"><i class="material-icons btn-float">add</i></button>
</div>

<!-- New / Edit Entry Modal START -->
<div class="modal fade" id="EntryModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="EntryModalLabel">Neuer Atemschutzeintrag hinzufügen </h4>
                </div>
                <form class="form" data-category="entry">
                    <input type="hidden" id="entryId" />
                    <div class="modal-body mx-3" id="EntryModalBody">
                        <div class="form-group">
                            <div class="form-line">
                                <label for="datum">Datum:</label>
                                <input type="text" id="datum" class="datepicker form-control" placeholder="Datum" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-line">
                                <label for="category">Kategorie:</label>
                                <select class="select form-control show-tick" id="category" required>
                                    <option data-hidden="true">Kategorie auswählen</option>
                                    {% for category in categories %}
                                        <option value="{{ category.id }}">{{ category.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-line">
                                <label for="firefighters">Personen:</label>
                                <select class="select form-control show-tick" id="firefighters" data-live-search="true" multiple>
                                    <option data-hidden="true">Personen auswählen</option>
                                    {% for firefighter in firefighters %}
                                        <option value="{{ firefighter.id }}">{{ firefighter.vorname }} {{ firefighter.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="input-group">
                            <div class="form-line">
                                <label for="dauer">Dauer:</label>
                                <input type="number" class="form-control" id="dauer" placeholder="Dauer" required>
                            </div>
                            <span class="input-group-addon">Minuten</span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-link waves-effect">SPEICHERN</button>
                    <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">ABBRECHEN</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<!-- New / Edit Entry Modal END -->

<!-- Delete Entry Modal START-->
<div class="modal fade" id="DeleteEntryModal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content modal-col-red">
			<div class="modal-header">
				<h4 class="modal-title" id="DeleteEntryModalLabel">Eintrag löschen</h4>
			</div>
			<div class="modal-body" id="DeleteEntryModalBody">
				<input type="hidden" name="entryId" />
				Soll der Eintrag defintiv gelöscht werden?
			</div>
			<div class="modal-footer">
				<button type="button" id="btnDeleteEntry" class="btn btn-link waves-effect">LÖSCHEN</button>
				<button type="button" class="btn btn-link waves-effect" data-dismiss="modal">ABBRECHEN</button>
			</div>
		</div>
	</div>
</div>
<!-- Delete Entry Modal END -->
{% endblock %}

{% block javascript %}
<!-- Moment Plugin Js -->
<script src="/static/plugins/momentjs/moment.js"></script>

<!-- Bootstrap Material Datetime Picker Plugin Js -->
<script src="/static/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>

<!-- Datatable-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
<script type="text/javascript"  src="https://cdn.datatables.net/plug-ins/1.10.19/sorting/datetime-moment.js"></script>

<script>
var curday = function(sp){
today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth()+1; //As January is 0.
    var yyyy = today.getFullYear();

    if(dd<10) dd='0'+dd;
    if(mm<10) mm='0'+mm;
    return (dd+sp+mm+sp+yyyy);
};

$('.datepicker').bootstrapMaterialDatePicker({
    format: 'DD.MM.YYYY',
    clearButton: true,
    weekStart: 1,
    time: false
});

$.fn.dataTable.moment( 'DD.MM.YYYY' ); //Define Dateformat for DataTable Plugin (used automaticly)
var table = $('.table-all').DataTable({
    dom: "Bfrtip",
    responsive: true,
    select: {
        style: 'multi'
    },
    buttons: {
        dom: {
            button: {
                className: ''
            }
        },
        buttons: [
            { extend: 'print',  text: '<i class="material-icons">print</i>', className: 'btn btn-primary waves-effect', title: 'Atemschutzkontrolle per ' + curday('.'), footer: 'true', exportOptions: { columns: [0,1,2,3] } },
            { extend: 'pdf',  text: '<i class="material-icons">picture_as_pdf</i>', className: 'btn btn-primary waves-effect', title: 'Atemschutzkontrolle per ' + curday('.'), footer: 'true', exportOptions: { columns: [0,1,2,3] } },
            
        ]
    },
    order: [[0,"desc"]],
    language: {
        "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/German.json"
    }
});

table.buttons(2).enable(
    table.rows( { selected: true } ).indexes().length === 0 ?
        false :
        true
);
table.on('select deselect', function( e,dt,type,indexes) {
    if(table.rows({selected: true}).indexes().length === 0) 
        table.buttons(2).disable();
    else
        table.buttons(2).enable();
    
        
});

$('#EntryModal').on('show.bs.modal', function(e) {
    $('.select').selectpicker();

    //get data-id attribute of the clicked element
	var entryId = $(e.relatedTarget).data('entry-id');

    $('#CategoryModalLabel').html("Neuer Eintrag hinzufügen")
    $("#datum").val('')
    $("#firefighter").val('')
	$("#category").val('')
    $("#dauer").val('')

    //If Category Id avaiable Edit Button was pressed.
	if(entryId > -1) {
		$('#CategoryModalLabel').html("Eintrag ändern")
        $("#entryId").val($(e.relatedTarget).data('entry-id'))
        $("#datum").val($(e.relatedTarget).data('entry-datum'))
        $("#firefighters").val($(e.relatedTarget).data('entry-member'))
		$("#category").val($(e.relatedTarget).data('entry-category'))
        $("#dauer").val($(e.relatedTarget).data('entry-time'))
        $('.select').selectpicker('refresh');
    }
});

$('.form').submit('click', function () {
	event.preventDefault();

	if($(this).data('category') === 'entry') {
		$.ajax({
			url: '/atemschutz/entry',
			type: 'POST',
			data: { entry_id: $('#entryId').val(), datum: $('#datum').val(), category: $('#category').val(), firefighters: $('#firefighters').val(), dauer: $('#dauer').val() },
			success: function(response) {
				$('#EntryModal').modal('hide')
				location.reload();
			},
			error: function(error) {
				var errorJson = JSON.parse(error.responseText);
				console.log(errorJson)
				$('#EntryModalBody').addClass('error');
				$('#EntryModalBody').prepend('<div class="alert alert-danger">' + errorJson.message + '</div>');
			}
		});
	}
});

$('#DeleteEntryModal').on('show.bs.modal', function(e) {
	// Get data-category-name attribute of the entry 
	$("input[name='entryId']").val($(e.relatedTarget).data('entry-id'))
});

$('#btnDeleteEntry').click(function() {
	$.ajax({
		url: '/atemschutz/entry/'+$("input[name='entryId']").val(),
		type: 'DELETE',
		success: function(response) {
			$('#CategoryModal').modal('hide')
			location.reload();
		},
		error: function(error) {
			var errorJson = JSON.parse(error.responseText);
			console.log(errorJson)
			$('#EntryCategoryModalBody').addClass('error');
			$('#EntryCategoryModalBody').prepend('<div class="alert alert-danger">' + errorJson.message + '</div>');
		}
	});
});

var graph_zug1 = Morris.Donut({
    element: donut_zug1,
    data: [{
        label: 'Nicht erreicht',
        value: zug1_nef
    }, 
    {
        label: 'Erreicht',
        value: zug1_ef
    }],
    colors: ['rgb(233, 30, 99)', 'rgb(0, 150, 136)'],
    formatter: function (y) {
        return y + ' Pers.'
   }
});
$('#donut_zug1').resize(function () { graph_zug1.redraw(); });

var graph_zug2 = Morris.Donut({
   element: donut_zug2,
    data: [{
        label: 'Nicht erreicht',
        value: zug2_nef
    }, 
    {
        label: 'Erreicht',
        value: zug2_ef
    }],
    colors: ['rgb(233, 30, 99)', 'rgb(0, 150, 136)'],
    formatter: function (y) {
        return y + ' Pers.'
   }
});
$('#donut_zug2').resize(function () { graph_zug2.redraw(); });

var graph_zug3 = Morris.Donut({
   element: donut_zug3,
    data: [{
        label: 'Nicht erreicht',
        value: zug3_nef
    }, 
    {
        label: 'Erreicht',
        value: zug3_ef
    }],
    colors: ['rgb(233, 30, 99)', 'rgb(0, 150, 136)'],
    formatter: function (y) {
        return y + ' Pers.'
   }
});
$('#donut_zug3').resize(function () { graph_zug3.redraw(); });
</script>
{% endblock %}